<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>{{ user }}</h1>
    <table border = '1'>
        {% for item in data %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.HostName}}</td>
                <td>{{item.CreateDate}}</td>
                <td>{{item.UpdateDate}}</td>
            </tr>
        {% endfor %}

        {% if user == 'Ghost' %}
            <h2>My Name Is Ghost!</h2>
        {% else %}
            <h2>Who Is Ghost?</h2>
        {% endif %}            

        {% ifequal user 'Ghost' %}
            <h2>User is Ghost!</h2>
        {% else %}
            <h2>User is't Ghost!</h2>
        {% endifequal %}
    </table>
</body>
</html>
